.buttonStyle {
  display: block;
  margin-block-start: 1rem;
  inline-size: calc(100% - 0.5rem);
  block-size: 3.0625rem;
  border-radius: 0.25rem;
  border: 0.25rem solid var(--colorPurple);
  cursor: pointer;
  background-color: transparent;
  color: var(--colorPurple);
  font: var(--button);
  letter-spacing: 0.078125rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonStyle.purple {
  background-color: var(--colorPurple);
  color: var(--colorWhite);
}