.comment {
  border-radius: 1.5rem;
  padding: 1.5rem;
  text-align: start;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2.485rem);
}

.comment img {
  display: block;
  margin: auto auto 1.5rem auto;
}

.comment blockquote {
  margin: 0;
  font: var(--textSecond);
  color: var(--colorPurple);
  line-height: 1.625rem;
  margin-block-end: 1.5rem;
}

.comment cite {
  font: var(--caption);
  color: var(--colorPurple);
}

@media screen and (min-width: 900px) {
  .comment {
    padding: 5rem;
    margin: 0 6.3125rem;
  }
  .comment blockquote {
    font-size: 1.6rem;
    line-height: 3.4375rem;
    text-align: center;
  }
  .comment cite {
    display: block;
    text-align: center;
    font: var(--headLine5);
    font-size: 1.2rem;
  }
}