.containerButton {
  display: flex;
  gap: 1rem;
}

.containerContact {
  inline-size: 2.75rem;
  block-size: 2.75rem;
  border: 0.15rem solid var(--colorPurple);
  border-radius: 0.25rem;
  padding: 0;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}