.h3Style {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font: var(--headLine5);
  color: var(--colorWhite);
  background: var(--colorPurple);
  box-shadow: -0.3rem 0.3rem var(--colorWhite);
}

@media screen and (min-width: 900px) {
  .h3Style{
    font-size: 2.125rem;
  }
}
