header {
  position: sticky;
  inset-block-start: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
}

.wrapperHeader {
  block-size: 4.0625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.wrapperHeader img {
  inline-size: 4.3125rem;
  block-size: 2.4375rem;
}

.wrapperHeader nav {
  visibility: hidden;
}

header .buttonStyle.purple {
  inline-size: 9.5625rem;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .wrapperHeader {
    justify-content: space-around;
  }
  .wrapperHeader nav {
    visibility: visible;
    display: flex;
    gap: 2.5rem;
  }
  .wrapperHeader a {
    text-decoration: none;
    font: var(--button);
  }
  .wrapperHeader a:hover {
    color: var(--colorWhite);
  }
}