@import url(icon.css);
@import url(button.css);
@import url(header.css);
@import url(main.css);
@import url(section-project.css);
@import url(section-comment.css);
@import url(section-marvol.css);
@import url(section-netnet.css);
@import url(section-contact.css);
@import url(headingStyle.css);
@import url(comment.css);
@import url(footer.css);
:root {
  --colorPurple: #310A90;
  --colorGreen: #42E2B8;
  --colorOrange: #FAD7A1;
  --colorWhite: #FFFFFF;
  --fontBase: 'Poppins', sans-serif;
  --fontSecond: 'Oxygen', sans-serif;
  --headLine1: bold 5.9375rem/normal var(--fontBase);
  --headLine2: bold 3.6875rem/normal var(--fontBase);
  --headLine3: bold 3rem/normal var(--fontBase);
  --headLine4: bold 2.125rem/normal var(--fontBase);
  --headLine5: bold 1.5rem/normal var(--fontBase);
  --body1: normal 1rem/normal var(--fontBase);
  --body2: normal 0.875rem/normal var(--fontBase);
  --button: bold 0.875rem/normal var(--fontBase);
  --caption: normal 0.75rem/normal var(--fontBase);
  --textSecond: bold 1rem/normal var(--fontSecond);
}

body {
  margin: 0;
  background: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
}