@import url(container-contact.css);
.wrapperMain {
  padding: 1rem;
}

.wrapperMain img {
  display: block;
  margin: auto;
  inline-size: auto;
  block-size: 20.66375rem;
  padding-block-end: 1rem;
}

.wrapperMain h2 {
  font: var(--headLine5);
  color: var(--colorPurple);
  margin: 0;
}

.wrapperMain h1 {
  font: var(--headLine3);
  color: var(--colorPurple);
  margin: 0;
}

.wrapperMain p {
  font: var(--body1);
  color: var(--colorPurple);
}

.wrapperMain .buttonStyle {
  margin-block-start: 2.5rem;
}


@media screen and (min-width: 900px) {
  .wrapperMain {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 4.1875rem;
  }
  .wrapperMain img {
    block-size: 31.5rem;
    margin: 0;
  }

  .wrapperMain .buttonStyle {
    visibility: hidden;
  }
  .descriptionUser {
    inline-size: 33.9375rem;
    block-size: 16.4375rem;
    margin: 0;
  }
}