.wrapperProject {
  padding: 2.5rem 1rem;
}

.wrapperProject p {
  color: var(--colorPurple);
  font: var(--body1);
  font-size: 1.5rem;
  text-align: center;
}

.wrapperProject p~p {
  font-weight: bold;
}

.containerIcon-arrow {
  inline-size: 5rem;
  block-size: 5rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.wrapperProject img {
  display: block;
  margin: 5rem auto 2.5rem auto;
  inline-size: 20rem;
  min-inline-size: 10.47875rem;
  block-size: 12.3125rem;
  border: 2px solid var(--colorPurple);
  border-radius: 0.2rem;
}

.wrapperProject .lastChild-p {
  font: var(--body1);
  text-align: start;
}

.containerButton {
  display: block;
}

@media screen and (min-width: 900px) {
  .wrapperProject {
    padding: 4.5rem 1rem 5rem 1rem;
    position: relative;
  }

  .wrapperProject p {
    margin: auto;
    inline-size: 56.25rem;
    font-family: var(--fontSecond);
    font-size: 2.125rem;
    font-weight: 300;
    font-style: normal;
  }

  .wrapperProject p~p {
    font-size: 1.5rem;
    margin: 1.5rem auto 1.5rem auto;
  }

  .containerIcon-arrow {
    margin-block-end: 6.5rem;
  }

  .containerProject {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1.5rem;
  }

  .descriptionProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    inline-size: 28.0625rem;
    gap: 1rem;
  }

  .wrapperProject img {
    inline-size: 32.8125rem;
    block-size: 15.5rem;
    margin: 0;
  }

  .wrapperProject .lastChild-p {
    margin: 0;
    inline-size: auto;
  }

  .wrapperProject .buttonStyle {
    inline-size: 10.5rem;
  }

  .containerButton {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}