.wrapperMarvol {
  padding: 2.5rem 1rem;
}

.wrapperMarvol img {
  display: block;
  margin: auto auto 2.5rem auto;
  inline-size: 100%;
  block-size: 20.125rem;
}

.wrapperMarvol p {
  font: var(--body1);
  color: var(--colorPurple);
}