.wrapperNetnet {
  padding: 2.5rem 1rem;
}

.wrapperNetnet img {
  display: block;
  margin: auto auto 2.5rem auto;
  inline-size: 100%;
  block-size: 33.5rem;
}

.wrapperNetnet p {
  font: var(--body1);
  color: var(--colorPurple);
}

@media screen and (min-width: 900px) {
  .wrapperNetnet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 13.3125rem;
  }
  .wrapperNetnet img {
    inline-size: auto;
    margin: 0;
  }
  .descriptionNetnet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    inline-size: 28.0625rem;
  }
  .wrapperNetnet .buttonStyle {
    inline-size: 10.5rem;
  }
  .containerButton {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}